extends layout

block content
  h1= title
  form(method="post" action="create")
    label(for="name") Full Name:
    input(type="text", name="name", value=name)
    label(for="email") Email address:
    input(type="text", name="email", value=email)
    input(type="submit", value="Save")
  br
  - for user in users
    p= user.name
